﻿@model Weather.Core.WeatherInfo

@{
    ViewBag.Title = "Today";
    Layout = "_Layout";
}

<h2>Weather @Model.City</h2>

<table class="table">
    <tbody>
    <tr>
        <td>@nameof(Model.Description)</td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td>@nameof(Model.Visibility)</td>
        <td>@Model.Visibility</td>
    </tr>
    <tr>
        <td>@nameof(Model.Cloud)</td>
        <td>@Model.Cloud</td>
    </tr>
    <tr>
        <td>@nameof(Model.Sunrise)</td>
        <td>@Model.Sunrise</td>
    </tr>
    <tr>
        <td>@nameof(Model.Sunset)</td>
        <td>@Model.Sunset</td>
    </tr>
    <tr>
        <td>Wind.Speed</td>
        <td>@Model.Wind.Speed</td>
    </tr>
    <tr>
        <td>Wind.Deg</td>
        <td>@Model.Wind.Deg</td>
    </tr>
    <tr>
        <td>@nameof(Model.Main.Temperature)</td>
        <td>@Model.Main.Temperature</td>
    </tr>
    <tr>
        <td>@nameof(Model.Main.Humidity)</td>
        <td>@Model.Main.Humidity</td>
    </tr>
    <tr>
        <td>@nameof(Model.Main.MaxTemperature)</td>
        <td>@Model.Main.MaxTemperature</td>
    </tr>
    <tr>
        <td>@nameof(Model.Main.MinTemperature)</td>
        <td>@Model.Main.MinTemperature</td>
    </tr>
    <tr>
        <td>@nameof(Model.Main.Pressure)</td>
        <td>@Model.Main.Pressure</td>
    </tr>
    </tbody>
</table>